body {
    overflow-x: hidden;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.ovh {
    overflow-y: hidden;
}

.preload * {
    transition: all 0s linear;
}

.blackbg, .blackbgreg, .black-bg-product, .blackbg-cart {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0);
    transition: all .5s ease-in-out;
    padding: 50px 0;
}

.blackbg-cart.active-cart {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    overflow-y: scroll;
}

.blackbgreg.active-register {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    overflow-y: scroll;
}

.black-bg-product.active-product {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    overflow-y: scroll;
}

.blackbg.active-burger-menu {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    overflow-y: scroll;
}
